# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

XmlWebForms/XmlWebForms/bin/Newtonsoft.Json.xml
XmlWebForms/XmlWebForms/bin/System.Web.Helpers.xml
XmlWebForms/XmlWebForms/bin/System.Web.Mvc.xml
XmlWebForms/packages/Microsoft.AspNet.Mvc.4.0.20710.0/lib/net40/System.Web.Mvc.xml
XmlWebForms/packages/Microsoft.AspNet.Mvc.4.0.20710.0/Microsoft.AspNet.Mvc.4.0.20710.0.nupkg
XmlWebForms/packages/Microsoft.AspNet.Mvc.FixedDisplayModes.1.0.0/Microsoft.AspNet.Mvc.FixedDisplayModes.1.0.0.nupkg
XmlWebForms/packages/Microsoft.AspNet.Razor.2.0.20715.0/lib/net40/System.Web.Razor.xml
XmlWebForms/packages/Microsoft.AspNet.Razor.2.0.20715.0/Microsoft.AspNet.Razor.2.0.20715.0.nupkg
XmlWebForms/packages/Microsoft.AspNet.WebApi.4.0.20710.0/Microsoft.AspNet.WebApi.4.0.20710.0.nupkg
XmlWebForms/packages/Microsoft.AspNet.WebApi.Client.4.0.20710.0/lib/net40/System.Net.Http.Formatting.xml
XmlWebForms/packages/Microsoft.AspNet.WebApi.Client.4.0.20710.0/Microsoft.AspNet.WebApi.Client.4.0.20710.0.nupkg
XmlWebForms/packages/Microsoft.AspNet.WebApi.Core.4.0.20710.0/content/web.config.transform
XmlWebForms/packages/Microsoft.AspNet.WebApi.Core.4.0.20710.0/lib/net40/System.Web.Http.xml
XmlWebForms/packages/Microsoft.AspNet.WebApi.Core.4.0.20710.0/Microsoft.AspNet.WebApi.Core.4.0.20710.0.nupkg
XmlWebForms/packages/Microsoft.AspNet.WebApi.WebHost.4.0.20710.0/lib/net40/System.Web.Http.WebHost.xml
XmlWebForms/packages/Microsoft.AspNet.WebApi.WebHost.4.0.20710.0/Microsoft.AspNet.WebApi.WebHost.4.0.20710.0.nupkg
XmlWebForms/packages/Microsoft.AspNet.WebPages.2.0.20710.0/lib/net40/System.Web.Helpers.xml
XmlWebForms/packages/Microsoft.AspNet.WebPages.2.0.20710.0/lib/net40/System.Web.WebPages.Deployment.xml
XmlWebForms/packages/Microsoft.AspNet.WebPages.2.0.20710.0/lib/net40/System.Web.WebPages.Razor.xml
XmlWebForms/packages/Microsoft.AspNet.WebPages.2.0.20710.0/lib/net40/System.Web.WebPages.xml
XmlWebForms/packages/Microsoft.AspNet.WebPages.2.0.20710.0/Microsoft.AspNet.WebPages.2.0.20710.0.nupkg
XmlWebForms/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/System.Net.Http.WebRequest.xml
XmlWebForms/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/System.Net.Http.xml
XmlWebForms/packages/Microsoft.Net.Http.2.0.20710.0/lib/net45/_._
XmlWebForms/packages/Microsoft.Net.Http.2.0.20710.0/Microsoft.Net.Http.2.0.20710.0.nupkg
XmlWebForms/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
XmlWebForms/packages/Newtonsoft.Json.4.5.11/lib/net20/Newtonsoft.Json.xml
XmlWebForms/packages/Newtonsoft.Json.4.5.11/lib/net35/Newtonsoft.Json.xml
XmlWebForms/packages/Newtonsoft.Json.4.5.11/lib/net40/Newtonsoft.Json.xml
XmlWebForms/packages/Newtonsoft.Json.4.5.11/lib/portable-net40%2Bsl4%2Bwp7%2Bwin8/Newtonsoft.Json.xml
XmlWebForms/packages/Newtonsoft.Json.4.5.11/lib/sl3-wp/Newtonsoft.Json.xml
XmlWebForms/packages/Newtonsoft.Json.4.5.11/lib/sl4-windowsphone71/Newtonsoft.Json.xml
XmlWebForms/packages/Newtonsoft.Json.4.5.11/lib/sl4/Newtonsoft.Json.xml
XmlWebForms/packages/Newtonsoft.Json.4.5.11/lib/winrt45/Newtonsoft.Json.xml
XmlWebForms/packages/Newtonsoft.Json.4.5.11/Newtonsoft.Json.4.5.11.nupkg